<section class="todoapp">
  <header class="header">
    <h1>{{=data.title}}</h1>
    <input class="new-todo" autofocus autocomplete="off" placeholder="What needs to be done?" value="{{=data.newTodo}}">
  </header>
  <section class="main" v-show="todos.length">
    <input class="toggle-all {{?data.todos.length === 0}}hidden{{?}}" type="checkbox" {{?data.allDone}}checked{{?}}>
    <ul class="todo-list">
      {{~data.viewTodos :value :index}}
      <li class="todo{{?value.completed}} completed{{?}}{{?value.id==data.editTodo.id}} editing{{?}}" id="{{=value.id}}">
        <div class="view">
          <input class="toggle" type="checkbox" {{?value.completed}}checked{{?}}>
          <label>{{=value.title}}</label>
          <button class="destroy"></button>
        </div>
        <input class="edit" type="text" value="{{=data.editTodo.title}}">
      </li>
      {{~}}
    </ul>
  </section>
  <footer class="footer {{?data.todos.length === 0}}hidden{{?}}">
    <span class="todo-count {{?data.count <= 0}}hidden{{?}}">
      <strong>{{=data.count}}</strong> 项未完成
    </span>
    <ul class="filters">
      <li><a href="#/all" class="{{?data.visibility == 'all'}}selected{{?}}">全部</a></li>
      <li><a href="#/active" class="{{?data.visibility == 'active'}}selected{{?}}">未完成</a></li>
      <li><a href="#/completed" class="{{?data.visibility == 'completed'}}selected{{?}}">完成</a></li>
    </ul>
    <button class="clear-completed {{?data.todos.length - data.count <= 0}}hidden{{?}}">
      删除完成项
    </button>
  </footer>
</section>
<footer class="info"></footer>

<script>
var store = require('./store')

module.exports = {
  refs: {
    footer: {
      el: '.info',
      component: require('./footer.html')
    }
  },
  data: {
    title: '待办项',
    todos: store.get('todos') || [],
    visibility: 'all',
    newTodo: '',
    editTodo: {},
    todoId: 0
  },

  listen: {
    update: function() {
      var _this = this
      this.data.allDone = true
      this.data.count = 0
      $.each(this.data.todos, function(i, item) {
        if (!item.completed) {
          _this.data.allDone = false
          _this.data.count++
        }
      })
      if (this.data.visibility === 'active') {
        this.data.viewTodos = $.grep(this.data.todos, function(item) {return !item.completed})
      } else if (this.data.visibility === 'completed') {
        this.data.viewTodos = $.grep(this.data.todos, function(item) {return item.completed})
      } else {
        this.data.viewTodos = this.data.todos
      }
    },

    updated: function() {
      var $editing = this.$('.editing .edit')
      if ($editing.length > 0) $editing[0].select()
      store.set('todos', this.data.todos)
    },

    filter: function(status) {
      this.data.visibility = status
      this.update()
    }
  },

  mixins: {
    getTodo: function (id) {
      var todo
      $.each(this.data.todos, function(i, item) {
        if (item.id == id) {
          todo = item
          return false
        }
      })
      return todo
    }
  },

  events: {
    'keydown .new-todo': 'addTodo',
    'click .destroy': 'removeTodo',
    'dblclick .todo label': 'toEditTodo',
    'keydown .edit': 'editTodo',
    'blur .edit': 'cancelEdit',
    'click .toggle': 'toggleTodo',
    'click .toggle-all': 'toggleAll',
    'click .clear-completed': 'clearCompleted'
  },

  handle: {
    addTodo: function(e) {
      this.data.newTodo = e.target.value
      if (e.keyCode !== 13 || !e.target.value) return
      this.data.todos.push({id: this.data.todoId++, title: e.target.value, completed: false})
      this.data.newTodo = ''
      this.update()
    },

    removeTodo: function(e) {
      var id = $(e.target).closest('li').attr('id')
      this.data.todos = $.grep(this.data.todos, function(item) {return item.id != id})
      this.update()
    },

    toEditTodo: function(e) {
      var $li = $(e.target).closest('li')
      if ($li.hasClass('completed')) return
      this.data.editTodo = this.getTodo($li.attr('id'))
      this.update()
    },

    editTodo: function(e) {
      if (e.keyCode !== 13) return
      var id = $(e.target).closest('li').attr('id')
      this.data.editTodo = {}
      this.getTodo(id).title = $(e.target).val()
      this.update()
    },

    cancelEdit: function() {
      $('.editing').removeClass('editing')
      this.data.editTodo = {}
    },

    toggleTodo: function(e) {
      var id = $(e.target).closest('li').attr('id')
      this.getTodo(id).completed = e.target.checked
      this.update()
    },

    toggleAll: function(e) {
      $.each(this.data.todos, function(i, todo) {
        todo.completed = e.target.checked
      })
      this.update()
    },

    clearCompleted: function() {
      this.data.todos = $.grep(this.data.todos, function(item) {return !item.completed})
      this.update()
    }
  }
}
</script>